set clipboard+=unnamed
set hlsearch
set incsearch
set showmatch
set cursorline
set ignorecase
set visualbell
set noerrorbells

" 命令之后不要加空白字符

" 防止误操作
unmap <C-a>
unmap <C-x>

" 注释
nmap <silent> <C-/> :action CommentByLineComment<CR>
vmap <silent> <C-/> :action CommentByLineComment<CR>
nmap <silent> <C-shift-/> :action CommentByBlockComment<CR>
vmap <silent> <C-shift-/> :action CommentByBlockComment<CR>

" 快速文档
nmap <silent> gh :action QuickJavaDoc<CR>
" 快速定义
nmap <silent> gr :action QuickImplementations<CR>
" 代码完成
nmap <silent> gc :action CodeCompletion<CR>
" 翻译
nmap <silent> gt :action $EditorTranslateAction<CR>
vmap <silent> gt :action $EditorTranslateAction<CR>

" 上一个函数
nmap <silent> g[ :action MethodUp<CR>
" 下一个函数
nmap <silent> g] :action MethodDown<CR>

let mapleader=';'
" 关闭其他页签
nmap <silent> <Leader>qo :action CloseAllEditorsButActive<CR>
" 关闭左边页签
nmap <silent> <Leader>ql :action CloseAllToTheLeft<CR>
" 关闭右边页签
nmap <silent> <Leader>qr :action CloseAllToTheRight<CR>
" 导入层次结构
nmap <silent> <leader>hi :action CIDR.Lang.ImportsHierarchy<CR>
" 调用层层次结构
nmap <silent> <leader>hc :action CallHierarchy<CR>
" 类型层次结构
nmap <silent> <leader>ht :action TypeHierarchy<CR>
" 方法层次结构
nmap <silent> <leader>hf :action MethodHierarchy<CR>
