set clipboard+=unnamed
set hlsearch
set incsearch
set showmatch
set cursorline
set ignorecase
set visualbell
set noerrorbells

nmap <silent> gh :action QuickJavaDoc<CR>
nmap <silent> gr :action QuickImplementations<CR>

let mapleader=';'
nmap <silent> <Leader>qo :action CloseAllEditorsButActive<CR>
nmap <silent> <Leader>ql :action CloseAllToTheLeft<CR>
nmap <silent> <Leader>qr :action CloseAllToTheRight<CR>